.mat-chip {
  min-height: unset;
  padding: 12px 8px;
  cursor: pointer;
  user-select: none;
  pointer-events: none;
  font-weight: bold;
  font-size: 12px;

  &:active {
    box-shadow: unset !important;
  }

  &::after {
    background: #0000;
  }
}
