@use '~@angular/material' as mat;

.mat-card {
  grid-gap: 16px;
  border: 1px solid #f7f8f9;
  border-radius: 16px;

  box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 3px 3px -1px rgb(8 11 14 / 10%);

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 6px 6px -1px rgb(8 11 14 / 10%);
  }
}
