<mat-toolbar>
  <div class="flex items-center max-w-4xl w-full ml-4 mr-4">
    <avatar [height]="48" [width]="48"></avatar>
    <span class="mr-4">David Tomschitz</span>
    <div class="flex-1"></div>
    <div>
      <social-button type="GITHUB" href="https://github.com/davidddo" [flat]="true"></social-button>
      <social-button type="LINKEDIN" href="https://www.linkedin.com/in/david-tomschitz-10838a140" [flat]="true">
      </social-button>
      <social-button type="XING" href="https://www.xing.com/profile/David_Tomschitz/" [flat]="true"></social-button>
    </div>
  </div>
</mat-toolbar>