<expansion-panel [title]="experience?.company" [subtitle]="experience?.type" [description]="experience?.description"
  [img]="experience?.img" [dateRange]="experience?.dateRange" [disabled]="!experience?.sections">
  <history-list class="mt-6">
    <history-item *ngFor="let section of experience?.sections let first = first; let last = last" [isFirst]="first"
      [isLast]="last">
      <div class="flex flex-col">
        <div>
          <span class="font-medium text-gray-800">{{ section?.position }}</span>
          <div class="text-sm">
            <date-range [dateRange]="section?.dateRange" [chip]="false"></date-range>
          </div>
        </div>
        <span *ngIf="section?.description" class="mt-2 mb-2 text-gray-500 font-light">{{ section.description }}</span>
      </div>
    </history-item>
  </history-list>
</expansion-panel>