<ng-container *ngIf="dateRange">
  <div *ngIf="chip; else default" class="flex items-center h-7 rounded-full pl-2 pr-2 pt-1 pb-1 bg-gray-100">
    <ng-container *ngTemplateOutlet="dateRangeContent"></ng-container>
  </div>
  <ng-template #default>
    <ng-container *ngTemplateOutlet="dateRangeContent"></ng-container>
  </ng-template>
  <ng-template #dateRangeContent>
    <div class="flex items-center">
      <div class="text-gray-500">
        <span>{{ dateRange?.start | formatDate }}</span>
        <span *ngIf="dateRange?.end"> - </span>
        <span *ngIf="dateRange?.current"> until </span>
        <span *ngIf="dateRange?.current" class="font-medium ">Now</span>
        <span *ngIf="!dateRange?.current && dateRange?.end">{{ dateRange?.end | formatDate
          }}</span>
      </div>
      <ng-container *ngIf="showDateRangeDiff">
        <mat-divider vertical></mat-divider>
        <span>{{ dateRange | dateRange }}</span>
      </ng-container>
    </div>
  </ng-template>
</ng-container>