<mat-expansion-panel class="rounded-2xl" [disabled]="disabled">
  <mat-expansion-panel-header>
    <mat-panel-title class="flex flex-row items-center">
      <ng-container *ngIf="isMobile$ | async">
        <div class="img-container relative w-10 h-10 mr-6" style="min-width: 40px; min-height: 40px;">
          <img *ngIf="img" [src]="img" height="40" width="40" (load)="onImageLoaded()" />
          <shimmer *ngIf="imageLoading"></shimmer>
        </div>
      </ng-container>

      <div class="flex flex-col justify-center">
        <h3 class="title font-medium text-gray-800">
          <ng-container *ngIf="!title">
            <shimmer></shimmer>
          </ng-container>
          {{ title }}
        </h3>
        <span class="subtitle font-light text-gray-500 leading-3">
          <ng-container *ngIf="!subtitle">
            <shimmer></shimmer>
          </ng-container>
          {{ subtitle }}
        </span>
      </div>
    </mat-panel-title>
    <mat-panel-description *ngIf="isMobile$ | async" class="mr-6 text-gray-800">
      <div class="flex items-center">
        <date-range [dateRange]="dateRange"></date-range>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-content></ng-content>
</mat-expansion-panel>