<div class="flex flex-col justify-center items-center mb-10 mt-10">
  <avatar [height]="160" [width]="160"></avatar>
  <h2 class="text-4xl font-bold text-gray-800">Hi, im David</h2>
  <h3 class="text-2xl font-light text-gray-500 text-center">
    i create games, build apps and do everything that comes with it
  </h3>
  <div class="mb-10 mt-4">
    <social-button type="GITHUB" href="https://github.com/davidddo"></social-button>
    <social-button type="LINKEDIN" href="https://www.linkedin.com/in/david-tomschitz-10838a140"></social-button>
    <social-button type="XING" href="https://www.xing.com/profile/David_Tomschitz/"></social-button>
  </div>
</div>
<div class="section">
  <header title="Projects" subtitle="Things I have worked on in the past"></header>
  <projects></projects>
</div>
<div class="section">
  <header title="Work Experiences"></header>
  <work-experiences></work-experiences>
</div>
<div class="section">
  <header title="Education"></header>
  <educations></educations>
</div>