<expansion-panel [title]="experience.type" [subtitle]="experience.company" [description]="experience.description"
  img="assets/logos/{{ experience.logo }}" [dateRange]="experience.dateRange" [disabled]="!experience.sections">
  <history-list class="mt-6">
    <history-item *ngFor="let section of experience.sections let first = first; let last = last" [isFirst]="first"
      [isLast]="last">
      <div class="flex flex-col">
        <span class="font-medium text-gray-800">{{ section.position }}</span>
        <date-range [dateRange]="experience.dateRange"></date-range>
      </div>
    </history-item>
  </history-list>
</expansion-panel>